/*
Malva claro: #F2E4ED 
Morado oscuro: #4A3459 
Berenjena: #461B37 
Beige : #C5B3A5 
Rosita claro: #E2B0A5
*/

.profileTabs {
    background-color: #E2B0A5;
    height: 6vh;
    color: green;
    text-decoration: none;

}

.profilePage {
    height: 100vh;
}

.profileTab {

    background: #F2E4ED;
    padding: 1vh;
    color: inherit;
    text-decoration: none;

}

.profileButton {
    background: #461B37;
    height: 6vh;
    width: 20vh;
    color: white;
    border-bottom: white;
}

p {
    color: inherit;
    font-size: 3.5vh;
}

img {
    width: 100%;
}

hr {

    height: 1vh;
    background-color: #461B37;
}