.UserCard {
    background: #F2E4ED;
    /* border: #4A3459; */
}

.UserCard img {
    height: 250px;
    object-fit: cover;

}

.button-card {
    background-color: #4A3459;
    align-content: center;
    justify-content: center;
    align-items: center;
}