.UserCard {
    background: #F2E4ED;
}

.user-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #461B37 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.user-name {
    color: #461B37;
    font-size: 3vh;
    margin: 0;
    font-weight: bold;
}

.user-info {
    color: #461B37;
    font-size: 2vh;
    margin: 0;

}

.custom-row {
    background-color: #e7c9db;
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 500px;
    border-radius: 5%;
}