.navbar {
    background: #461B37;
    height: 8vh;
}

.navbar .nav-link {
    color: white;
    font-size: 1.7vh;

}

.nav-text {
    color: white;
    font-size: 2.1vh;
}

.nav-dropdown {
    background-color: #e7c9db;
}

.dropdown-menu {
    background-color: #e7c9db;
    font-size: 2vh;
}