.buttonNewEvent {
    background: #461B37;
    height: 4vh;
    width: 16vh;
    color: white;
    border-bottom: white;
    margin-bottom: 2vh;
    margin-top: 6vh;

}

.modal-form {
    color: white;
}