.UserCard .userImg .avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: solid #461B37 10px;
}

.UserCard .userImg .avatar-container .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.profileButton {
    background: #461B37;
    height: 6vh;
    width: 25vh;
    color: white;
    border-bottom: white;
    margin-bottom: 2vh;
    margin-top: 2vh
}

.personal-info {
    font-size: 30px;
    font-weight: bold;
    color: #461B37;
}

.userDetails {
    height: 120vh;

}

.userData li {
    font-size: 20px;
    color: #461B37;

}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.friendsName {
    font-size: 20px;
    color: #461B37;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: bold;
}

.profileTab li {
    font-size: 20px;
    color: #461B37;

}

.UserCard {
    background-color: #e7c9db;
}


#profile-tab-eventsAssisted {
    color: #461B37
}

#profile-tab-venueFavorites {
    color: #461B37
}

#profile-tab-friends {
    color: #461B37
}

li.nav-item {
    background-color: #c19db2;
    font-weight: bold;
}