.App {
  font-family: sans-serif;
  background: linear-gradient(#E2B0A5,
      #461B37,
      #F2E4ED,
      #E2B0A5,
      #4A3459);

}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: white;
  margin-top: 60px;
  font-weight: bold;
}